# EditorConfig: https://editorconfig.org/

# Top-most EditorConfig file
root = true

# Defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# Python
[*.py]
indent_style = space
indent_size = 4

# Markdown and plain-text documentation
[*.{md,txt}]
indent_style = space
indent_size = 2

# TOML and example configuration
[*.{toml,example}]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4

# CMake
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2

# Git commit messages
[COMMIT_EDITMSG]
max_line_length = 75

# Patches
[{*.patch,*.diff}]
trim_trailing_whitespace = false
